h1 {
	text-align: center;
}

html { 
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Germany_United_Kingdom_Locator.png/250px-Germany_United_Kingdom_Locator.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}