<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/german/profil">Profil</a></li>
	<li role="presentation"><a href="#/german/service">Service</a></li>
	<li role="presentation"><a href="#/german/preise">Preise</a></li>
	<li role="presentation" class="active"><a href="#/german/kontakt">Kontakt</a></li>
</ul>

<h1>Kontakt</h1>
<h2>Anschrift:</h2>

<div class="row">
	<div class="col-sm-3 col-sm-offset-9">
		<h3>Nicholas Peterson</h3>
		<p>N&uuml;rnberger Str. 114a</p>
		<p>96050 Bamberg</p>
		<p>Germany</p>
	</div>
</div>

<address>E-Mail: <a href="mailto:nickppeterson@gmail.com">nickppeterson@gmail.com</a></address>