<ul class="nav nav-tabs">
  <li role="presentation"><a href="#/german/home">Home</a></li>
  <li role="presentation" class="active"><a href="#/german/payment">Payment</a></li>
  <li role="presentation"><a href="#/german/legal">Legal</a></li>
</ul>
<h1>Bezahlung</h1>

<div class="container">
	<div class="row">
		<div class="col-sm-8"><p>Cu nec debitis incorrupte complectitur, at vim impetus aperiri, falli dolore ius ne. Eam modo fastidii vivendum at, ad mea omnes accusata. In mei nisl honestatis referrentur, ut meis assueverit cotidieque has, probo liber sed ei. Ei graece admodum voluptatibus his, sit rebum consetetur ut. Omnis mutat oblique has an. Te facer deseruisse his.</p>

		<p>Harum iudico te pro. Corpora postulant vis te. Ne alia movet adipiscing vim, mea dicta causae eu, mei graece mnesarchum ne. Id cotidieque reformidans duo. Vim nostro explicari honestatis ne, solet oporteat similique ex eum. Putent bonorum qui ex, ferri vitae molestiae eu vis, vix no ludus aliquando.</p>

		<p>Oratio conceptam per ex, ex putent intellegam interpretaris mea. No soleat dissentias quo, ad volumus incorrupte mel. Nam no tritani ancillae, ea admodum detraxit pro. Aeterno offendit argumentum eu vix. Tation urbanitas pri ex. Te his libris quaerendum, ad qui meis aliquam phaedrum, labitur eligendi mnesarchum ne cum.</p></div>
	</div>

	<footer>Created by Michael Campos. Operated by Nicholas Peterson</footer>
</div>