<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/german/profil">Profil</a></li>
	<li role="presentation"><a href="#/german/service">Service</a></li>
	<li role="presentation" class="active"><a href="#/german/preise">Preise</a></li>
	<li role="presentation"><a href="#/german/kontakt">Kontakt</a></li>
</ul>

<h1>Preise</h1>

<p>Aufgrund des vielfältigen Anspruchs der angebotenen Leistungen liegt der übliche Tarif derzeit bei 25 € die Stunde. Jedoch unterliegt dieser Tarif Änderungen je nach Art der gewünschten Dienstleistung. Bitte kontaktieren Sie mich für ein individuelles Preisangebot.</p>

<p><i>Die Minimumgebühr beträgt 25 &euro;.</i></p>

<p><i>Alle Endpreise enthalten gemäß § 19 UStG keine Umsatzsteuer</i></p>