<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/german/profil">Profil</a></li>
	<li role="presentation"><a href="#/german/service">Service</a></li>
	<li role="presentation" class="active"><a href="#/german/preise">Preise</a></li>
	<li role="presentation"><a href="#/german/kontakt">Kontakt Informationen</a></li>
</ul>

<h1>Preise</h1>

<p>Anhand des gro&szlig;en Angebots ist der Tarif 25 € die Stunde. Jedoch ist dieser Tarif einer Änderung vorbehalten anhand der gewünschten Dienstleistung. Bitte kontaktieren Sie mich für ein Preisangebot.</p>

<p><i>Die Minimumgebühr beträgt 25 &euro;.</i></p>

<p><i>Alle Endpreise enth&auml;lt gem&auml;&szlig; &sect; 19 UStG keine Umsatzsteuer</i></p>