<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#/german/profil">Profil</a></li>
	<li role="presentation"><a href="#/german/service">Service</a></li>
	<li role="presentation"><a href="#/german/preise">Preise</a></li>
	<li role="presentation"><a href="#/german/kontakt">Kontakt</a></li>
</ul>

<h1>Profil</h1>

<div class="row">
	<div class="col-sm-9">
		<p>&Uuml;bersetzung ist die pr&auml;zise Wiedergabe eines Ausdrucks in einer anderen Sprache. Ein verst&aacute;ndiger &Uuml;bersetzer ben&ouml;tigt professionelle und praktische Kompetenz, jahrelange Erfahrung und die muttersprachliche Intuition der Zielsprachen. Die geringere Kompetenz des Auftraggebers in den Zielsprachen f&uuml;hrt h&aacute;ufig dazu, dass dieser die Qualit&aacute;t einer &Uuml;bersetzung kaum angemessen einsch&aacute;tzen kann. Vertrauen ist daher die beste Qualit&aacute;tssicherung f&uuml;r Kunden von &Uuml;bersetzungsdienstleistungen.</p>

		<p>Ich bin ein bilingual Englisch-Deutscher Muttersprachler mit einem Bachelor in Germanistik und arbeite aktuell an meinem Master in Linguistik (Sprachwissenschaften). Ich verf&uuml;ge &uuml;ber die formale Bildung in den linguistischen Strukturen des Deutschen und Englischen und besitze gleichzeitig die muttersprachliche Intuition beider Sprachen. Hinzu kommt meine mehrj&aacute;hrige Erfahrung mit &Uuml;bersetzungen. Wenn Sie etwas &uuml;bersetzt haben möchten oder Nachhilfe in deutscher oder englischer Sprache ben&ouml;tigen, dann bin ich genau der Richtige f&uuml;r den Job!</p>
	</div>

	<div class="col-sm-3"><img src="assets/nick.jpg" alt="Nick" width="240" height="320"></div>
</div>