<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#/german/profil">Profil</a></li>
	<li role="presentation"><a href="#/german/service">Service</a></li>
	<li role="presentation"><a href="#/german/preise">Preise</a></li>
	<li role="presentation"><a href="#/german/kontakt">Kontakt Informationen</a></li>
</ul>

<h1>Profil</h1>

<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<p>&Uuml;bersetzung ist die pr&auml;zise Wiedergabe einen Ausdrucks in eine andere Sprache. Ein geschickter &Uuml;bersetzer ben&ouml;tigt professionelle und praktische Kompetenz, jahrelange Erfahrung und muttersprachliche Intuition der Zielsprachen. Die mangelnden Kompetenzen in den Zielsprachen des Auftraggebers einer &Uuml;bersetzung bedeutet, dass die Qualit&auml;tspr&uuml;fung einer &Uuml;bersetzung dem Auftraggeber oft entgeht. Vertrauen  ist die beste Qualit&auml;tssicherung f&uuml;r Kunden von &uuml;bersetzungsdienstleistungen.</p>

			<p>Ich bin ein bilingual Englisch-Deutscher Muttersprachler mit einem Bachelor in Germanistik und arbeite an meinem Master in Linguistik (Sprachwissenschaften). Ich bin in den linguistischen Strukturen des Deutschen und Englischen gebildet und gleichzeitig habe ich eine muttersprachliche Intuition von beiden Sprachen. Au&szlig;erdem habe ich mehrj&auml;hrige Erfahrungen mit &Uuml;bersetzungen. Wenn Sie etwas &uuml;bersetzt brauchen oder Nachhilfe in deutscher oder englischer Sprache brauchen, dann bin ich der Richtige f&uuml;r den Job!</p>
		</div>

		<div class="col-sm-4"><img src="assets/nick.png" alt="Nick"></div>
	</div>
</div>