<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/german/profil">Profil</a></li>
	<li role="presentation" class="active"><a href="#/german/service">Service</a></li>
	<li role="presentation"><a href="#/german/preise">Preise</a></li>
	<li role="presentation"><a href="#/german/kontakt">Kontakt</a></li>
</ul>

<h1 class="text-center">Service</h1>

<ul>
	<li>&Uuml;bersetzungen von Deutsch zu Englisch oder Englisch zu Deutsch</li>
	<li>Korrekturlesung von &Uuml;bersetzungen (Deutsch-Englisch oder Englisch-Deutsch)</li>
	<li>Korrektur von englischen oder deutschen Texten</li>
	<li>Nachhilfe in englischer oder deutscher Sprache (Nur verfügbar für die, die in oder in der Nähe von Bamberg, Deutschland leben. Nur verfügbar innerhalb oder in der Nähe von Bamberg, Deutschland)</li>
</ul>