<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/german/profil">Profil</a></li>
	<li role="presentation" class="active"><a href="#/german/service">Service</a></li>
	<li role="presentation"><a href="#/german/preise">Preise</a></li>
	<li role="presentation"><a href="#/german/kontakt">Kontakt Informationen</a></li>
</ul>

<h1>Service</h1>

<ul>
	<li>&Uuml;bersetzungen von Deutsch zu Englisch oder Englisch zu Deutsch</li>
	<li>Korrekturlesung von &Uuml;bersetzungen (Deutsch-Englisch oder Englisch-Deutsch)</li>
	<li>Korrektur von englischen oder deutschen Texten</li>
	<li>Nachhilfe in englischer oder deutscher Sprache*</li>
</ul>

<p>* Nur verf&uuml;gbar f&uuml;r die, die in oder in der N&auml;he von Bamberg, Deutschland leben.</p>