<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/">Profile</a></li>
	<li role="presentation"><a href="#/english/services">Services</a></li>
	<li role="presentation"><a href="#/english/prices">Prices</a></li>
	<li role="presentation" class="active"><a href="#/english/contact">Contact Information</a></li>
</ul>

<h1 class="text-center">Contact Information</h1>

<div class="row">
	<div class="col-sm-4">
		<h2><u>Mailing Address:</u></h2>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h3>Nicholas Peterson</h3>
		<p>N&uuml;rnberger Str. 114a</p>
		<p>96050 Bamberg</p>
		<p>Germany</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<address><u>E-Mail:</u></address>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<address><a href="mailto:nickppeterson@gmail.com">nickppeterson@gmail.com</a></address>
		
	</div>
</div>