<div ng-controller ="englishHomeController">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#/">Home</a></li>
	  <li role="presentation"><a href="#/english/payment">Payment</a></li>
	  <li role="presentation"><a href="#/english/legal">Legal</a></li>
	</ul>
	<h1>Home</h1>

	<div class="row">
		<div class="col-sm-8"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet pulvinar neque, ac fermentum elit. Aliquam ultrices sagittis odio, in ultricies metus porta id. Duis maximus elit nibh, eu imperdiet mi dictum vitae. Nulla vitae cursus enim, vel pellentesque arcu. Suspendisse potenti. Donec ac lacinia arcu. Etiam et magna dolor. In auctor efficitur sollicitudin. Mauris pulvinar ut libero pretium convallis. Praesent quis dapibus augue, at iaculis eros.</p>

		<p>Fusce iaculis consequat magna vel eleifend. Etiam condimentum lobortis aliquet. Vestibulum elementum a justo sit amet sagittis. Sed nec turpis et quam eleifend consectetur. Quisque elementum ullamcorper dolor et mollis. Nullam semper ex et odio fringilla, eget suscipit risus dignissim. Etiam semper mi eu nisl venenatis, in malesuada urna auctor. Vestibulum sed pharetra dolor, at porta felis. Sed at lectus arcu. Vivamus facilisis enim eu neque dictum pellentesque. Fusce porta vestibulum sem, vitae suscipit libero luctus ut. Aenean vehicula hendrerit risus, eget volutpat ipsum vulputate in. Duis quis iaculis mauris. Vivamus posuere sapien enim, a mattis tortor scelerisque sit amet. Vivamus id sagittis dui, quis mollis erat. Vestibulum sit amet arcu auctor, aliquet ligula ac, laoreet dui.</p>

		<p>Nunc quis nulla suscipit, dignissim libero eget, porta mi. Integer nec molestie tellus. Maecenas nec tortor nunc. Nam quis ex condimentum, egestas eros in, laoreet leo. Quisque suscipit dignissim purus at vulputate. Fusce nisi quam, malesuada auctor vulputate vitae, tempus quis nisl. Phasellus pulvinar sit amet felis ac laoreet. Maecenas ut ligula aliquam, hendrerit lorem id, molestie ante. Nam finibus ex vitae condimentum porttitor. Etiam vestibulum libero nec nunc aliquam, et pellentesque dolor dignissim.</p></div>
		<div class="col-sm-4"><img src="assets/nick.png" alt="Nick"></div>
	</div>

	<footer>Created by Michael Campos. Operated by Nicholas Peterson</footer>
</div>