<ul class="nav nav-tabs">
  <li role="presentation"><a href="#/">Profile</a></li>
  <li role="presentation"><a href="#/english/services">Services</a></li>
  <li role="presentation" class="active"><a href="#/english/prices">Prices</a></li>
  <li role="presentation"><a href="#/english/contact_information">Contact Information</a></li>
</ul>

<h1>Prices</h1>

<p>Due to the diversity of services, the going rate is 20&euro; per hour. However, the going rate is subject to change based on the desired service. Please <u>contact</u> me for an exact quote.</p>
<p><i>There is a minimum fee of 20&euro;.</i></p>
<p><i>Final Prices are subject to &sect; 19 UStG and, therefore, do not include sales-tax</i></p>