<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#/">Profile</a></li>
  <li role="presentation"><a href="#/english/services">Services</a></li>
  <li role="presentation"><a href="#/english/prices">Prices</a></li>
  <li role="presentation"><a href="#/english/contact">Contact Information</a></li>
</ul>

<h1>Profile</h1>

<div class="row">
	<div class="col-sm-8">
		<p>Translating is the proper rendering of a statement into another language. An adept translator requires professional and practical skill, years of experience and a native speaker’s intuition of the target languages. The lack of competency of the consumer in the language that a text is to be translated in means that the quality of a translation often eludes a client. Trust is the best quality assurance for customers of translation services.</p>

		<p>I am a native bilingual German-English speaker with a bachelor’s degree in German and I’m currently working on a Master’s Degree in Linguistics. I am educated in the linguistic structures of both English and German and, simultaneously, I have a native intuition of both languages. Furthermore, I have years of translating experience. If you need something translated into either English or German or need Language Tutoring, then I’m your ideal candidate for getting the job done!</p>
	</div>
	
	<div class="col-sm-4"><img src="assets/nick.png" alt="Nick"></div>
</div>