<ul class="nav nav-tabs">
  <li role="presentation"><a href="#/">Profile</a></li>
  <li role="presentation" class="active"><a href="#/english/services">Services</a></li>
  <li role="presentation"><a href="#/english/prices">Prices</a></li>
  <li role="presentation"><a href="#/english/contact">Contact Information</a></li>
</ul>

<h1>Services</h1>

<ul>
	<li>Translation from German into English or English into German</li>
	<li>Proofreading of Translations (German-English or English-German)</li>
	<li>Proofreading of English or German texts</li>
	<li>Tutoring in English or German Language (Only available to those living in or near Bamberg, Germany)</li>
</ul>